<!--displays the selected show's seasons and sends its id to the seasons module-->
<app-header></app-header>
<mat-accordion>
  <mat-expansion-panel *ngFor="let season of seasons">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Season {{season.number}}
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>

    </mat-expansion-panel-header>
    <app-seasons [id]="season.id"></app-seasons>
    <mat-action-row>


    </mat-action-row>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
