<!--Displays each season by episode in detail: id, name and airing date-->
<mat-accordion>
  <mat-expansion-panel *ngFor="let episode of episodes">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{episode.id}}
      </mat-panel-title>
      <mat-panel-description>
        {{episode.name}}
        {{episode.airdate}}
      </mat-panel-description>

    </mat-expansion-panel-header>

    <mat-action-row>

    </mat-action-row>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
